<html>
    <head>
        <link rel="stylesheet" href='/static/style.css' />
    </head>
    <body>
        <h3>ALPHABOT</h3>

        <form method="post">
            <input type="submit" value="Forward" name="F"/>
            <input type="submit" value="Backward" name="B"/>
            <input type="submit" value="Stop" name="S"/>
            <input type="submit" value="Right" name="R"/>
            <input type="submit" value="Left" name="L"/>
        </form>
        
        <form method="post">
            <input type="submit" value="RS" name="rs">
            <input type="submit" value="SQ" name="sq">
            <input type="submit" value="TA" name="ta">
        </form>
    </body>
</html>